<style>
	h1, figure {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}


	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
	#container {
		align-items: center;
		justify-content: center;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
</style>

<svelte:head>
	<title>CycleBy</title>
</svelte:head>

<div id="container">
	<h1>Coming Soon?</h1>

	<figure>
		<img alt='CycleBytown' src='logo2.png'>
	</figure>
</div>
